<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Parâmetro de configuração do servidor de e-mail e suas credenciais-->
		<add key="smtpHost" value="smtp.gmail.com"/>
		<add key="loginCredentials" value="atendimento@crdas.com.br"/>
		<add key="senhaCredentials" value="123@qwe"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="None"/>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
